{% extends "base.html" %}

{% block title %}predict {% endblock title %}


{% block body %}
<br> <br> <br><br> <br> <br><br> <br> <br>    <br><br> <br> <br>
<!DOCTYPE html>
<html>
<head>
    <title>Prediction Result</title>
</head>
<body>
    <h1>Prediction Result:</h1>
    <p>The prediction is: {{ prediction }}</p>
    <a href="{% url 'predict' %}">Go back to the prediction form</a>
</body>
</html>

<br> <br> <br><br> <br> <br><br> <br> <br>    <br><br> <br> <br>
{% comment %} <div class="container">
    <br> <br> <br><br> <br> <br><br> <br> <br>    <br><br> <br> <br>
    <!-- ml_app/templates/ml_app/predict.html -->
<form method="post">
    {% csrf_token %}
    <input type="text" name="input_data" placeholder="Enter Data">
    <button type="submit">Predict</button>
</form>
<p>Prediction: {{ predict }}</p>

</div> {% endcomment %}








{% endblock body %}